<div class="parent">
    <div class="login-card">
    <div class="brand">
        <div class="brand-logo">
            <img src="assets/univ_logo.png" alt="">
        </div>
        <h1>Se connecter</h1>
        <p></p>
    </div>

    <form id="loginForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                type="email" 
                id="email" 
                placeholder="email@gmail.com"
                autocomplete="email"
            >
            <div class="error" id="emailError"></div>
        </div>

        <div class="form-group">
            <label for="password">Mot de Passe</label>
            <input 
                type="password" 
                id="password" 
                placeholder="mot de passe"
                autocomplete="current-password"
            >
            <div class="error" id="passwordError"></div>
        </div>

        <div class="remember-forgot">
            <div class="remember-me">
                <input type="checkbox" id="remember">
                <label for="remember">Se rappeler de moi</label>
            </div>
            <a href="#" class="forgot-password">Mot de passe oublié?</a>
        </div>

        <button type="submit" class="login-btn" id="loginButton">
            Connexion
        </button>
    </form>
</div>
</div>
