<div class="">
    <div class="logo" >
        <h1>partie logo</h1>
        <hr>
    </div>
    <div class="nav-items">
        <div class="navi-tem">
            <i class="fas fa-camera"></i>
            
            <span>Span Test</span>
        </div>
        <div class="navi-tem">

        </div>
        <div class="navi-tem">

        </div>
        <div class="navi-tem">

        </div>
        <div class="navi-tem">

        </div>
        <div class="navi-tem">

        </div>
        <div class="navi-tem">

        </div>
        <div class="navi-tem">

        </div>
        <div class="navi-tem">

        </div>
    </div>
</div>